body{
  font-family: 'Bree Serif', serif !important;

}
#react_textcenter{
  text-align: center;
  -webkit-text-fill-color: red
  
  }
  .formStyle input{
    
    background: transparent;
    border: 1px solid white;
    margin: 1px;
    font-size: 140%;
    text-align: center;
    
  
  }
  .formStyle button{
  
    background: transparent;
    border-radius: 50px;
    border: transparent;
    margin-top: 3px;
  }
  .register_form {
    display: flex;
    flex-direction: column;
    width:40%;
    margin:auto;
    border:1px solid #ddd;
    padding:20px;
    margin-top: 15%;

    
  }
  
  .register_form  input, button{
    padding:10px;
    outline: none;
    
  }
  
  button:hover{
    background: rgb(77, 193, 247);
  }
.homepagepic {
  /* height: 74vh; */
  width: 74vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.homepagepic a{
  display: block;
  width: 100%;
}
.banana{
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: auto;
}
.homepagepic img{
  width: 60%;
  margin-left: 20%;

}
.homepagepic a{
margin: auto;
}
.homepagepic span{
margin: auto
}
i {
  cursor: pointer
}
#HomeCatName{
  text-align: center;
  margin-top: 70px;
}

.FullPageGridCat{
  height: 75vh;
  width: 75vw;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 0



}
.FullPageGridCat img{
  max-width: 100%;
  border-radius: 10px;
}
.FullPageGridCat li{
  font-size: 150%;

}


.FullPageGrid{
  height: 75vh;
  width: 75vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  grid-gap: 1%;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: space-around;
  text-align: center;
  padding: 0;
  flex-wrap: wrap

}
.FullPageGrid img{
  max-width: 100%;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
.FullPageGrid li{
  font-size: 100%;
  min-width: 100px;
  word-break: break-all;
}

.FullPageGrid p{
 /*  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; */
  overflow:hidden;
white-space: pre;
line-height:40px;
height:80px;
}
.SinglePostPage{

  height: 20%;
  width: 75vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  grid-gap: 1%;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  flex-wrap: wrap

}

.SinglePostPage img{
  max-width: 100%;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.commentform{
  display: flex;
  flex-direction: column;
  width:40%;
  margin:auto;
  padding:15px;
  margin-top: 0;
}

.commentform input{

  text-align: center;
  padding:30px;
  margin-bottom: 3px;

}


.commentform button{
  text-align: center;
  padding:10px;
  border-radius: 50px;
  margin-top: 3px;
  
}

.commentform button:hover{
  background: green;
  border-radius: 50px;
}

#CreatePost{
text-align: center;
margin-top: 10%;
border:1px solid #ddd;

}
.CreatePost{
  width:20%;
  margin:auto;
  border:1px solid #ddd;
  padding:20px;
  margin-top: 15%;
}
.CreatePost Button {
  border:12px solid #ddd;
  margin-top: 25%;



}
.lines{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
   /* overflow: hidden; */
}
.search {
  width: 30rem;
  margin: 10rem auto 2rem auto;
  text-align: right;
  position: relative;
}


.myAccountgrid{

  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  grid-gap: 1%;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

}

.card {
  padding: 2rem;
  border: 1px solid #ddd;
}
.comments_grid:{
  display: grid;
}
.isLoading{
  text-align: center;
  margin-top: 15%;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 450px) {
  body {
    background-color: lightblue;
  }

  .myAccountgrid{

    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  
  }
  #CreatePost{
    text-align: center;
    margin-top: 20%;
    border:1px solid #ddd;
    
    }
    .FullPageGrid{
      height: 75vh;
      width: 75vw;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      grid-gap: 5%;
      /* grid-template-columns: 1fr 1fr 1fr; */
      justify-content: space-around;
      text-align: center;
      padding: 0;
      flex-wrap: wrap
    
    }
    .homepagepic {
       height: 74vh; 
      width: 74vw;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    .homepagepic a{
      display: block;
      width: 100%;
    }
    .banana{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: auto;
    }
    .homepagepic img{
      width: 40%;
      margin-left: 30%;
    
    }
    .homepagepic a{
    margin: auto;
    }
    .homepagepic span{
    margin: auto
    }
    i {
      cursor: pointer
    }

  
  
}